
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Belgrano|Montserrat&display=swap');

// font-family: 'Belgrano', serif;
// font-family: 'Montserrat', sans-serif;


:root{
  --splash-header-1:'Belgrano', serif;
  --splash-header-2:'Belgrano', serif;
  --splash-body-1: 'Montserrat', sans-serif;

  --green:#B9D8C2;
  --light-blue:#9AC2C9;
  --blue-grey: #8AA1B1;
  --black: #282c34;
  --yellow: #FFCB47;

  font-size: 10px;
}
.App {
  text-align: center;
  // background-color: var(--yellow);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.MainSplashContainer{
  // border: 1px solid green;
  height:70vh;
  width: 100%;
  // margin:9% 0;
  padding: 4rem 0 5rem;
  z-index: 1;
  background-color: var(--yellow);
  
  .Splash_Container{
    text-align: right;
    padding: 4% 0;    
  }

  #Splash_Hello{
    font-size: 8.6rem;
    font-family: var(--splash-header-1);
    font-weight: normal;
    color: var(--black);
    // text-shadow: 3px 2px #646464b4;
    margin:0;
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.3s both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.3s both;
  }

  #Splash_Message{
    font-size: 14.4rem;
    font-family: var(--splash-header-1);
    font-weight: normal;
    color: var(--black);
    // text-shadow: 3px 2px #646464b4;
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000)0.4s both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000)0.4s both;
    margin:0;
  }

  #Splash_Message2{
    font-size: 7.2rem;
    font-family: var(--splash-header-1);
    font-weight: normal;
    color: var(--black);
    // text-shadow: 3px 2px #646464b4;
    margin:0;
    border-bottom: 8px double var(--black);
    border-bottom-right-radius: 10px;
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000)0.5s both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000)0.5s both;
  }

  #splash_nav{
    font-size: 4.8rem;
    color: var(--black);
    font-family: var(--splash-body-1);
    font-weight: normal;
    padding:2rem 3rem;
    text-align: center;

  }

  .splash_nav_container{
    width: 100%;
    
    .splash_link{
      -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530).3s both;
      animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530).3s both;
    }

  }

  @media only screen and (max-width:1372px) {
    #Splash_Hello{
      font-size: 6.4rem;
    }
    #Splash_Message{
      font-size: 7.2rem;
    }
    #Splash_Message2{
      font-size: 6.4rem;
    }
    #splash_nav{
      font-size: 4rem;
    }
  }

  @media only screen and (max-width:1072px) {
    #Splash_Hello{
      font-size: 5.3rem;
    }
    #Splash_Message{
      font-size: 7.2rem;
    }
    #Splash_Message2{
      font-size: 5.3rem;
    }
  }

  @media only screen and (max-width:500px) {
    #Splash_Hello{
      font-size: 5.3rem;
    }
    #Splash_Message{
      font-size: 6rem;
    }
    #Splash_Message2{
      font-size: 4.7rem;
    }
  }
}

.splash_text_container{
  background-color: white;
  z-index: 2;

  .splash_text{
    padding:3rem;
    margin: 2rem 0;
    font-family: var(--splash-body-1);
    font-size: 1.6rem;
    position: relative;
    top: -3rem;
    z-index: 3;
    
  }
}

.nav_menu{
  background-color: green($color: #000000);
}

.code_home{
  // background-color: black;
}




// Animations
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
